#
# jenins-docker-nginx-ssl
#
# A Ready to go Jenkins build server using docker with NGINX and Let's Encrypt for automatic SSL configuration
# Using the great community docker-gen, nginx-proxy and docker-letsencrypt-nginx-proxy-companion
#
# This is the .env file to set up your Jenkins enviornment

#
# Image versions
#
NGINX_VERSION=1.17.1
DOCKER_GEN_VERSION=0.7.0
LETS_ENCRYPT_VERSION=latest

#
# Your local containers NAME
#
NGINX_PROXY=nginx-proxy
DOCKER_GEN=nginx-gen
LETS_ENCRYPT=nginx-letsencrypt
JENKINS_MASTER=jenkins-master

#
# Set the IP address of the external access Interface
#
IP=0.0.0.0

#
# Default Network
#
NETWORK=webproxy

# If you want to customize the created network, use the following variable
#NETWORK_OPTIONS="--opt encrypted=true"

#
# Service Network (Optional)
#
# In case you decide to add a new network to your services containers you can set this
# network as a SERVICE_NETWORK
#
# [WARNING] This setting was built to use our `start.sh` script or in that special case
#           you could use the docker-composer with our multiple network option, as of:
#           `docker-compose -f docker-compose-multiple-networks.yml up -d`
#

#SERVICE_NETWORK=jenkins-slave

# If you want to customize the created network, use the following variable
#SERVICE_NETWORK_OPTIONS="--opt encrypted=true"

#
## NGINX file path (mount into the host)
# Here you can configure the path where nginx stores all the configurations and certificates.
# With the value ./nginx-data it creates a new sub-folder into your current path.

NGINX_FILES_PATH=./nginx-data
#
# NGINX use special conf files
#
# In case you want to add some special configuration to your NGINX Web Proxy you could
# add your files to ./conf.d/ folder as of sample file 'uploadsize.conf'
#
# [WARNING] This setting was built to use our `start.sh`.
#
# [WARNING] Once you set this options to true all your files will be copied to data
#           folder (./data/conf.d). If you decide to remove this special configuration
#           you must delete your files from data folder ./data/conf.d.
#
USE_NGINX_CONF_FILES=true

#
# Docker Logging Config
#
# This section offers two options max-size and max-file, which follow the docker documentation
# as follow:
#
# logging:
#      driver: "json-file"
#      options:
#        max-size: "200k"
#        max-file: "10"
#
#NGINX_PROXY_DRIVER=json-file
#NGINX_PROXY_LOG_MAX_SIZE=4m
#NGINX_PROXY_LOG_MAX_FILE=10

#NGINX_GEN_LOG_DRIVER=json-file
#NGINX_GEN_LOG_MAX_SIZE=2m
#NGINX_GEN_LOG_MAX_FILE=10

#NGINX_LETSENCRYPT_LOG_DRIVER=json-file
#NGINX_LETSENCRYPT_LOG_MAX_SIZE=2m
#NGINX_LETSENCRYPT_LOG_MAX_FILE=10

#JENKINS_MASTER_LOG_DRIVER=json-file
#JENKINS_MASTER_LOG_MAX_SIZE=2m
#JENKINS_MASTER_LOG_MAX_FILE=10


# Set the local exposed ports for http and https on the Host
#
# NOTE: The default values are 80 and 443, only change this options if you really know what you are doing
#
#DOCKER_HTTP=80
#DOCKER_HTTPS=443


#
# Jenkins configuration
#

# Data Paths
JENKINS_LOGS_PATH=/var/log/jenkins
JENKINS_DATA_PATH=/var/jenkins_home
# Volumes
JENKINS_LOGS=jenkins-logs
JENKINS_DATA=jenkins-data
# Network
JENKINS_PORT=8080
JENKINS_SLAVE_PORT=50000
# Enter the exact URL for your server and include the protocol for HTTP (if LETS_ENCRYPT_STAGING=true) or HTTPS. For example:
#URL=localhost
VIRTUAL_PORT=8080
VIRTUAL_HOST=localhost
#
#LETS_ENCRYPT_HOST=domain
#
#LETS_ENCRYPT_EMAIL= Email to register the ssl certificate e.g. example@example.com
#
#LETSENCRYPT_TEST=true | Change to false to get prod ssl certificate
#